.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  min-height: 100vh;
  background-image: linear-gradient(100deg, #42b6f0, #ffffff);
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  min-height: 100vh;
}

.wrapped {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
  padding: 1.6rem;
  border-radius: 1.6rem;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  font-family: var(--font-mono);
}

.inputjob {
  padding: 5px;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #b3c2d1;
}

.button {
  background-color: #41969b;
  border: none;
  color: white;
  padding: 5px;
  font-size: 1rem;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.secondarybutton {
  background-color: #41969b;
  border: none;
  color: white;
  font-size: 1rem;
  margin: 5px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.select {
  height: 30px;
  line-height: 3;
}

.selective {
  padding: 2px;
    border: none;
    outline: none;
    width: 100px;
    border-radius: 5px;
    background-color: #b3c2d1;
}

.listjob {
  flex-direction: row;
  display: flex;
  justify-content: center;
  overflow: scroll;
  width: auto;
  height: 150px;
}

.jobname {
  font-size: 1rem;
}

.statistical {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
